<html>
  <head></head>
  <body>
    <form method="POST" action="/new">
      <header>Send new message</header>
      <label for="user"
        >Username:
        <input type="text" id="user" name="user" />
      </label>
      <label for="new_message"
        >Your message:
        <textarea
          id="new_message"
          name="new_message"
          rows="4"
          cols="50"
          placeholder="write your message here"
        >
        </textarea>
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
