<html>
  <head>
    <title><&=title&></title>
  </head>
  <body>
    <% messages.forEach((message)=>{ %>
    <div>
      <div class="username"><%= message.user %></div>
      <div class="addedTime"><%= message.added %></div>
      <div class="messageText"><%= message.text %></div>
    </div>

    <% }) %>
  </body>
</html>
