<html>
  <head>
    <title>Message details</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="message_board">
      <p class="username"><%= message.user %></p>
      <p class="messageText"><%= message.text %></p>
      <p class="addedTime"><%= message.added %></p>
    </div>
  </body>
</html>
